Options -Indexes

ErrorDocument 403 /application/contents/403.htm
ErrorDocument 404 /application/contents/404.htm

RewriteEngine on
RewriteRule ^index\.php$ index.php [L]
RewriteRule ^public/(.+)$ public/$1 [L]
RewriteRule ^scripts/(.+\.(jpe?g|gif|png|css|js))$ public/scripts/$1 [L]
RewriteRule ^css/(.+\.(css|htc))$ public/css/$1 [L]
RewriteRule ^docs/(.+\.(pdf|docx?))$ public/docs/$1 [L]
RewriteRule ^videos/(.+\.(mp4|m4v|flv))$ public/videos/$1 [L]
RewriteRule ^skins/(.+\.(jpe?g|gif|png|css|htc|js))$ public/skins/$1 [L]
RewriteRule ^images/(.+\.(jpe?g|gif|png))$ public/images/$1 [L]
RewriteRule ^(.+)/(.+)/(.+)$ index.php?rq_controller=$1&rq_action=$2&rq_param=$3 [L]
RewriteRule ^(.+)/(.+)$ index.php?rq_controller=$1&rq_action=$2 [L]
RewriteRule ^(.+)/?$ index.php?rq_controller=$1 [L]