.custom-combobox{
	width: 200px;
	position: relative;
	float: left;
}
.cs-select{
	position:relative;
}
.cs-dropdown{
	position: absolute;
	width: 100%;
	z-index: 999;
}
.cs-selected, .cs-option{
	background-color: white;
	color: black;
	padding: 7px 8px;
	display:block;
	height: 10px;
	text-decoration: none;
}
.cs-option{
	background-color: lightgray;
}
.cs-option:hover{
	background-color: gray;
	color: white;
}
.cs-right {
	position: absolute;
	background: url('drop-down-arrow.png') no-repeat;
	width: 11px;
	height: 11px;
	right: 6px;
	top: 8px;
	cursor: pointer;
}