.custom-combobox{
	width: 200px;
	position: relative;
	background: #e0e0e0;
	color: #777;
	font-size: 15px;
	line-height: 1em;
	border-radius: 5px;
	display: inline-block;
}
.cs-select{
	position:relative;
}
.cs-dropdown{
	position: absolute;
	width: 100%;
	z-index: 999;
}
.cs-option, .cs-selected{
	color: inherit;
	padding: 12px 20px;
	display:block;	
	text-decoration: none;
	outline: none;
}
.cs-option{
	background-color: inherit;
}
.cs-option:first-child{
		border-radius: 5px 5px 0 0;
}
.cs-option:last-child{
		border-radius: 0 0 5px 5px;
}
.cs-option:hover, .cs-hilighted{
	background-color: gray;
	color: white;
}
.cs-right {
	position: absolute;
	background: url('drop-down-arrow.png') no-repeat;
    background-size: cover;
	width: 10px;
	height: 6px;
	top: 50%;
	right: 10px;
    transform: translateY(-50%);
	cursor: pointer;
}