body {
	background-color: #efefef;
	font: 13px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
img {
	border:none;
}
.wrap {
	width:980px;
	height:auto;
	margin:20px auto;
}

.logo {
	width:140px;
	float:left;
	margin: 0 12px;
}

ul.menu {
	width:664px;
	display:block;
	overflow:auto;
	padding:12px;
	margin:0;
	
}

ul.menu li {
	list-style: none;
	float: left;
	display: block;
	width: 110px;
	height: 40px;
	background: url(../images/menu.png) no-repeat;
	background-position: -112px top;
	text-align: center;
}
ul.menu li:hover{
	background-position: -112px -50px;
}

ul.menu li a{
	color:white;
	-moz-text-shadow: rgba(0,0,0,0.3) 1px 1px 1px;
	-webkit-text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
	text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	text-decoration:none;
	padding-top:8px;
	display:block;
}

ul.menu li:first-child {
	background-position:left top;
	width: 112px;
}
ul.menu li:first-child:hover {
	background-position: left -50px;
}
ul.menu li:last-child {
	background-position:right top;
	width: 112px;
}
ul.menu li:last-child:hover {
	background-position: right -50px;
}

.content {
	width:980px;
	margin:10px 0px 0px;
	height: auto;
}
.content .last{
	margin-right: 0;
}

.footer {
	font: 10px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	color: #888;
	margin:20px 0px 0px;
	text-align:center;
}
.footer a, .footer a:link, .footer a:visited, .footer a:active {
	font: 10px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	color: #888;
	text-decoration:none;
}
.footer a:hover {
	color: #6E6E6E;
	text-decoration:none;
}
.slider-wrapper {
	margin-bottom: 10px;
}
.nivoSlider {
    position:relative;
    background:url(../images/nivo/loading.gif) no-repeat 50% 50%;
	height:612px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
	box-shadow: 0px 2px 3px #b2b2b2;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
}
.nivoSlider a {
    border:0;
    display:block;
}

.borderBox{
	float: left;
	border: 1px solid #D3D4D4;
	margin: 0 0 4px 3px;
	background-color: white;
}
.radius5px {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.articleList {
	overflow: auto;
}
.articleList .item{
	width: 263px;
	height: 234px;
}
.articleList .item:hover{
	background-color:#f0f0f0;
}
.articleList .item .title, .articleList .item .price {
	color: black;
	font-size: 11px;
	font-weight: bold;
	line-height: 1.4em;
	text-align: left;
	padding: 10px;
}
.articleList .item .title a{
	text-decoration:none;
	color: black;
}
.articleList .item .title a:hover{
	color: #0085CF;
}
.articleList .item .price{
	color: #666;
	font-size: 13px;
}
.articleList .item .image{
	text-align:center;
}
.articleList .item .image img{
	border: 0;
	padding:15px 0;
}

.articleMenu {
	float: left;
	margin: 0 8px 0 0;
	font-size: 12px;
	line-height: 1.6em;
	width:168px;
}

.articleMenu h2 {
	display:block;
	color:white;
	font-weight: bold;
	font-size: 13px;
	line-height: 1em;
	padding:8px 10px 5px;
	margin:10px 0 0;
	text-shadow: 1px 1px 1px #224272;
	background:url(../images/article_menu_bg.png) repeat-x;
	
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.articleMenu ul{
	padding:0 0 5px;
	margin:0;
	border: 1px solid #D3D4D4;
	
	-webkit-border-bottom-left-radius: 12px;
	-webkit-border-bottom-right-radius: 12px;
	-moz-border-radius-bottomleft: 12px;
	-moz-border-radius-bottomright: 12px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.articleMenu ul li{
	list-style:none;
	padding:0 5px;
	margin:0 5px;
}

.articleMenu ul li a{
	text-decoration:none;
	color: #333;
}

.articleMenu ul li:hover{
	background-color: #D6E5F2;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.articleMenu ul.categories {
	font-size:15px;
	line-height:1.5em;
	font-weight:bold;
	color:#999;
}
.articleMenu ul.categories li a{
	text-decoration:none;
	color: #999;
}

.articleMenu ul.categories  li:hover{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.grid1col {
	width: 980px;
	margin-bottom: 10px;
}
.grid2col{
	width: 483px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.grid3col{
	width: 276px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.contentBox {
	box-shadow: 0px 1px 10px #b2b2b2;
	-webkit-box-shadow: 0px 1px 10px #b2b2b2;
	-moz-box-shadow: 0px 1px 10px #b2b2b2;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	background: white;
	border: 1px solid;
	border-color: #E5E5E5 #DBDBDB #D2D2D2;
}

.contentBox  h1, .contentBox  h2, .contentBox  h3 {
	color:#333;
	font-size:24px;
	line-height:1.4em;
	
	margin: 15px 20px 0;
	padding: 0;

	letter-spacing:-1px;
	letter-spacing: -2px;
	font-weight: normal;
}
.contentBox  h2 {
	font-size:18px;
}
.contentBox  p {
	color:#777;
	padding: 10px 20px 20px;
	margin: 0;
}
.contentBox  p.last {
	margin-bottom: 20px;
}

.news a {
	display: block;
	color: #666;
}